<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro">
 <select id="selectSawon" resultType="dto" parameterType="formBean">
  select sawon_name, sawon_jik, buser_name, buser_tel from sawon 
  left outer join gogek on sawon_no = gogek_damsano 
  left outer join buser on buser_num = buser_no 
  where gogek_no = #{gogek_no} and gogek_name = #{gogek_name}
 </select>
</mapper>